<div class="<%= "comment-card" unless comment.id == comment.post.comments.last.id %> d-flex justify-content-between align-items-center w-100">
  <div style="width:70%;">
    <div>
      <p class="name-username">
        <b><%= comment.user.first_name %>
        <%= comment.user.last_name %></b>
        <%= comment.user.username %>
      </p>
    </div>
    <%= comment.content %>
  </div>
  <p class="name-username"><i><%= comment.created_at.strftime("%I:%M%p - %m/%d/%Y") %></i></p>
</div>
