<div class="container py-5 h-100">
    <%  @received_messages.each do |message| %>
        <div class="message-card col-3 col-m-3 col-xs-16">
            <div class="d-flex p-4">
              <div class="flex-shrink-0">
                <img src="https://www.laut.de/Eminem/eminem-168198.jpg"
                  alt="profile picture"
                  >
              </div>
              <div class="flex-grow-1 ms-3">
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2">
                <div class="details">
                  <div class="name"> <%= message.first.user.first_name %> <%= message.first.user.last_name %> <%= message.first.user.username %></div>
                  <div class="content"></i> <%= message.first.content  %></div>
                  <div class="date"></i> <%= message.first.created_at  %></div>
                </div>
              </div>
            </div>
        </div>
      <% end %>
  </div>
