<nav class="navbar navbar-lewagon">
  <div class="container-fluid">
  <div class="row w-100">
    <div class="col-3 d-flex justify-content-start align-items-center">
      <% if user_signed_in? %>
        <div class="dropdown">
          <button class="navbar-dropdown-btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</button>
          <ul class="dropdown-menu navbar-dropdown-menu">
            <%= link_to "Feed", root_path, class: "dropdown-item" %>
            <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Messages", chatrooms_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
          </ul>
        </div>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "navbar-dropdown-btn" %>
        <% end %>
    </div>
      <div class="col-6 d-flex justify-content-center align-items-center">
        <%= link_to root_path do %>
        <h1 style="font-family: 'Bebas Neue', sans-serif;" class="m-0">Moosician</h1>
        <% end %>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
         <%= form_with url: posts_path, method: :get, class: "d-flex w-100" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control navbar-search",
                  placeholder: "Search"
              %>
            <%= button_tag type: "submit", class: "btn navbar-search-btn" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</nav>
