<div class="container py-5 h-100">
  <div class="profile-card">
    <div class="d-flex p-4">
      <div class="flex-shrink-0">
        <%= cl_image_tag user.photo.key %>
      </div>
      <div class="flex-grow-1 ms-3">
        <div class="d-flex">
          <h5 class="mb-1"><%= user.first_name %> <%= user.last_name %></h5>
          <p class="mb-2 ml-2 pb-1"><%= user.username %></p>
        </div>
        <p class="mb-2 pb-1"><%= user.bio %></p>
        <div class="d-flex justify-content-start rounded-3 p-2 mb-2">
        <% chatroom = Chatroom.find_by(user_1: user, user_2: current_user) || chatroom = Chatroom.find_by(user_2: user, user_1: current_user)   %>
          <% if chatroom.nil? %>
            <%= button_to "Message 📨", chatrooms_path(receiver: user), class: "moosician-btn" %>
          <% else %>
            <%= link_to "Message 📨", chatroom_path(chatroom), class: "moosician-btn" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
