    <div class="index-card">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar-large mb-3" %>
      <% end %>
      <h3 class="name-username"><%= current_user.first_name %>
      <%= current_user.last_name %></h3>
      <p class="secondary-text">@<%= current_user.username %></p>
      <p><%= current_user.bio %></p>

      <%= link_to "My profile", profile_path(current_user.profile.id), class: "moosician-btn", style: "margin-bottom: 16px;" %>
      <p>Joined on <%= current_user.created_at.strftime("#{current_user.created_at.day.ordinalize} of %b, %Y") %></p>

    </div>
