    <div class="index-card">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar-large mb-3" %>
      <% end %>
      <h3><%= current_user.first_name %>
      <%= current_user.last_name %></h3>
      <p><%= current_user.bio %></p>
      <%= link_to "My profile", user_path(current_user), class: "moosician-btn", style: "margin-bottom: 16px;" %>
      <p class="secondary-text">Joined on <%= current_user.created_at.strftime("#{current_user.created_at.day.ordinalize} of %b, %Y") %></p>
    </div>
