<div class="my-3" data-controller="comments">
  <div class="index-card" data-comments-target="indexCard">
    <h1><%= post.description %></h1>
    <div class="d-flex align-items-center justify-content-between w-100 info-actions-bar">
      <div class="d-flex">
        <%= cl_image_tag post.user.photo.key, class: "avatar me-2" %>
        <div>
          <div>
          <p class="name-username">
            <b><%= post.user.first_name %>
            <%= post.user.last_name %></b>
            <%= post.user.username %>
          </p>
          </div>
          <p class="name-username"><i><%= post.created_at.strftime("created at %I:%M%p on %m/%d/%Y") %></i></p>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <h3 class="me-1 mb-0"><%= post.likes.length %></h3>
        <%= link_to "#" do %>
          <i class="fa-solid fa-heart icon fa-2xl me-1"></i>
        <% end %>
        <h3 class="me-1 mb-0"><%= post.comments.length %></h3>
        <i class="fa-solid fa-comment icon fa-2xl me-1" data-action="click->comments#display"></i>
        <%= link_to "#" do %>
          <i class="fa-solid fa-share icon fa-2xl"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="comment-container d-none" data-comments-target="commentsContainer">
    <%= render post.comments %>
  <div class="w-100">
    <%= simple_form_for [post, @comment], html: {class: "d-flex justify-content-between align-items-center"} do |f| %>
      <%= f.input :content, input_html: {class: "w-100 comment-text-input"}, wrapper_html: {class: "w-100"}, label: false %>
      <%= f.button :button, class: "comment-form-btn" do %>
        <i class="fa-solid fa-paper-plane fa-2xl icon"></i>
      <% end %>
  <% end %>
  </div>
  </div>
</div>
