<div class="my-3" data-controller="comments search-global " data-search-global-target="posts "  >
  <div class="index-card" data-comments-target="indexCard">
    <h3><%= post.description %></h3>
    <% if post.audio_data.attached? %>
    <%= audio_tag post.audio_data.url, controls:true %>
    <% end %>

    <div class="d-flex align-items-center justify-content-between w-100 info-actions-bar">
    <% if current_user.profile %>
      <%= link_to profile_path(post.user.profile) do %>
      <div class="d-flex">
        <%= cl_image_tag post.user.photo.key, class: "avatar me-2" %>
        <div>
          <div>
          <p class="name-username">
            <b><%= post.user.first_name %>
            <%= post.user.last_name %></b>
            @<%= post.user.username %>
          </p>
          </div>
          <p class="name-username secondary-text" style="font-size: 14px;"><i><%= post.created_at.strftime("created at %I:%M%p on %m/%d/%Y") %></i></p>
        </div>
      </div>
      <% end %>
      <% end %>
      <div class="d-flex align-items-center">
        <%= turbo_frame_tag dom_id(post, :like) do %>
          <div class="d-flex align-items-center">
            <h3 class="me-1 mb-0 text-color"><%= post.likes.length %></h3>
            <% if post.liked_by_user?(current_user) %>
              <%= link_to like_path(post.likes.find_by(user: current_user)), data: { turbo_method: :delete } do %>
                <i class="fa-solid fa-heart icon fa-xl me-1 btn-pressed"></i>
              <% end %>
            <% else %>
              <%= link_to post_likes_path(post), data: { turbo_method: :post } do %>
                <i class="fa-solid fa-heart icon fa-xl me-1"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <h3 class="me-1 mb-0 text-color"><%= post.comments.length %></h3>
        <i class="fa-solid fa-comment icon fa-xl me-1" data-action="click->comments#display"></i>
        <%= link_to "#" do %>
          <i class="fa-solid fa-share icon fa-xl"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="comment-container d-none" data-comments-target="commentsContainer">
    <%= render post.comments %>
  <div class="w-100">
    <%= render "comments/form", post: post, comment: @comment %>
  </div>
  </div>
</div>
