<div class="my-3" data-controller="comments">
  <div class="index-card" data-comments-target="indexCard">
    <h1><%= post.description %></h1>
    <% if post.audio_data.attached? %>
    <%= audio_tag post.audio_data.url, controls:true %>

    <%= audio_tag @post.audio_data.url, controls: true if @post.audio_data.attached? %>
    <% end %>

    <div class="d-flex align-items-center justify-content-between w-100 info-actions-bar">
      <div class="d-flex">
        <%= cl_image_tag post.user.photo.key, class: "avatar me-2" %>
        <div>
          <div>
          <p class="name-username">
            <b><%= post.user.first_name %>
            <%= post.user.last_name %></b>
            <%= post.user.username %>
          </p>
          </div>
          <p class="name-username"><i><%= post.created_at.strftime("created at %I:%M%p on %m/%d/%Y") %></i></p>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <%= turbo_frame_tag dom_id(post, :like) do %>
          <div class="d-flex align-items-center">
            <h3 class="me-1 mb-0" data-likes-target="count"><%= post.likes.length %></h3>
            <% if post.liked_by_user?(current_user) %>
              <%= link_to like_path(post.likes.find_by(user: current_user)), data: { turbo_method: :delete } do %>
                <i class="fa-solid fa-heart icon fa-2xl me-1 btn-pressed"></i>
              <% end %>
            <% else %>
              <%= link_to post_likes_path(post), data: { turbo_method: :post } do %>
                <i class="fa-solid fa-heart icon fa-2xl me-1"></i>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Share
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a type="button" class="shareButton mx-2" tabindex="0" href="https://twitter.com/intent/tweet?text=" target="_blank" title="Share on Twitter" arial-label="Share on Twitter"><i class="fab fa-twitter" style="font-size:20px;"></i></a></li>
    <li><a type="button" class="shareButton mx-2" tabindex="0" href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank" title="Share on Facebook" arial-label="Share on Facebook"><i class="fab fa-facebook-f" style="font-size:20px;"></i></a></li>
    <li><a type="button" class="shareButton mx-2" tabindex="0" href="https://www.tumblr.com/widgets/share" target="_blank" title="Share on Tumblr" arial-label="Share on Tumblr"><i class="fab fa-tumblr style="font-size:20px;"></i></a></li>
    <li><a type="button" class="shareButton mx-2" tabindex="0" href="https://pinterest.com/pin/create/button/?url=&media=" target="_blank" title="Share on Pinterest" arial-label="Share on Pinterest"><i class="fab fa-pinterest" style="font-size:20px;"></i></a></li>
    <li><a type="button" class="shareButton mx-2" tabindex="0" href="mailto:?" target="_blank" title="Share via email" arial-label="Share via email"><i class="fa fa-envelope" style="font-size:20px;"></i></a></li>
  </ul>
</div>
      </div>
    </div>
  </div>
  <div class="comment-container d-none" data-comments-target="commentsContainer">
    <%= render post.comments %>
  <div class="w-100">
  <% if @comment.present? %>
    <%= simple_form_for [post, @comment], html: {class: "d-flex justify-content-between align-items-center"} do |f| %>
      <%= f.input :content, input_html: {class: "w-100 comment-text-input"}, wrapper_html: {class: "w-100"}, label: false %>
      <%= f.button :button, class: "comment-form-btn" do %>
        <i class="fa-solid fa-paper-plane fa-2xl icon"></i>
      <% end %>
   <% end %>
  <% end %>
  </div>
  </div>
</div>
