<div class="container">
  <div class="row">
    <div class="col-3 p-3">
    </div>
    <div class="col-6 p-3">
      <%= form_with(model: @post, url: posts_path, remote: true, html: { multipart: true, class: "form-post" }) do |form| %>
        <div class="container d-flex flex-column align-items-center w-50 py-5">
          <% if @post.errors.any? %>
            <% @post.errors.full_messages.each do |message| %>
              <p style="color: red"><%= message %></p>
            <% end %>
          <% end %>
          <%= form.text_area :title, class: "form-control", placeholder: "What tunes on your mind moosician?" %>
          <%# form.text_area :description, class: "form-control", placeholder: "What's happening?" %>
          <%= form.file_field :attachment, id: "fileInput", class: "input-file" %>
          <div class="icon-container">
          <label class="control-label mx-3" for="fileInput">
            <i class="fa-solid fa-paperclip"></i>
          </label>
          <button type="submit" class="send-button">
            <i class="fa-solid fa-paper-plane" id="sendIcon"></i>
          </button>
        </div>
      <% end %>
      <%= render @posts %>
    </div>
    <div class="col-3 p-3">
    </div>
  </div>
</div>
