<%# <!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="Twitter Bootstrap Version2.0 horizontal form layout example from w3resource.com.">
<link href="twitter-bootstrap-v2/docs/assets/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<form class="form-horizontal d-flex flex-column align-items-center">
        <fieldset>

          <div class="control-group">
            <label class="control-label mt-2" for="textarea">New Post</label>
            <div class="controls">
              <textarea class="form-submit w-100" id="textarea" rows="3"></textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="fileInput">File input</label>
            <div class="controls">
              <input class="input-file" id="fileInput" type="file">
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary my-2">POST</button>
            <button class="btn">❌</button>
          </div>
        </fieldset>
</form>
</div>
</body>
</html> %>

<%= form_with(model: @post, url: posts_path, remote: true, html: { multipart: true, class: "form-post" }) do |form| %>
  <div class="container d-flex flex-column align-items-center w-50">
    <% if @post.errors.any? %>
      <% @post.errors.full_messages.each do |message| %>
        <p style="color: red"><%= message %></p>
      <% end %>
    <% end %>
    <%= form.text_area :title, class: "form-control", placeholder: "What's happening?" %>
    <%# form.text_area :description, class: "form-control", placeholder: "What's happening?" %>
    <%= form.file_field :attachment, id: "fileInput", class: "input-file" %>
    <div class="icon-container">
    <label class="control-label" for="fileInput">
      <i class="fa-solid fa-paperclip"></i>
    </label>
    <button type="submit" class="send-button">
      <i class="fa-solid fa-paper-plane" id="sendIcon"></i>
    </button>
  </div>
<% end %>

<% @posts.each do |post| %>
  <p><%= post.title %></p>
<% end %>
