<div class="container">
  <h1>New Post</h1>
  <%= render 'form', post: @post %>
</div>

<div class="container">
  <h1>Posts</h1>

  <!-- List of Past Posts -->
  <ul>
    <% @posts.each do |post| %>
      <li>
        <h2><%= link_to post.title, post %></h2>
        <p><strong>Category:</strong> <%= post.category %></p>
        <p><strong>Posted by:</strong> <%= post.user.username %></p>
        <p><strong>Posted at:</strong> <%= post.created_at.strftime('%B %e, %Y %I:%M %p') %></p>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Back', posts_path %>
